flask
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pandas
gunicorn
pdfplumber
python-docx
openpyxl
psycopg2-binary
openai
python-docx
PyPDF2
pytesseract
Pillow
pdf2image 
google-cloud-vision
PyMuPDF
